.calendar .react-date-picker__wrapper {
    border: none;
}
.calendar input, .calendar .react-date-picker__inputGroup__divider {
    color: #8c8c8c !important;
    font-weight: 600;
    border: none;
}
.calendar .react-date-picker__inputGroup {
    display: flex;
    justify-content: center;
}
